header {
    background-color: #B9D9EB;
    height: 70px;
    align-items: center;
}
ul {
    float: right;
    padding: 10px;
    list-style-type: none;
    display: inline;
}

li {
    padding: 10px;
    display: inline;
}

a{
    color: #000;
    transition: color o.3s ease;

}

a:hover{
    color: #00f;
}

a:visited{
    color: #800080;
}

.grid-container1{
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    text-align: center;
}

h4 {
    font-size: 35px;
}

.grid-container2{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 400px;
    background-color: aliceblue;
    width: 100%;
    text-align: left;
}

.grid-items img{
    height: 400px;
    width: 80%;

}

p{
    font-size: 20px;
}

footer{
    background-color: aliceblue;
}

footer>p{
    text-align: center;
}

h1{
    text-align: center;
}

.grid-container4{
    display: grid;
    grid-template-columns: auto auto auto;
}
h5{
    font-size: 25px;
}

.grid-item{
    padding: 20px;
    text-align: center;
}

footer{
    text-align: center;
}