header {
    background-color: #B9D9EB;
    height: 70px;
    align-items: center;
}
ul {
    float: right;
    padding: 10px;
    list-style-type: none;
    display: inline;
}

li {
    padding: 10px;
    display: inline;
}

a{
    color: #000;
    transition: color o.3s ease;

}

a:hover{
    color: #00f;
}

a:visited{
    color: #800080;
}

.news-containerA{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    background-image: url(news.bground.jpg);
}

.news-item{
    padding: 20px;
    text-align: center;
}

.news-containerB{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-height: 500px;
}

.news-itemA{
    grid-template-rows: repeat(2, 1fr);
}

.news-itemB{
    grid-template-rows: repeat(2, 1fr);
}

.itema{
    padding: 20px;
    text-align: center;
}

.itemb{
    padding: 20px;
    text-align: center;
}

.itemc{
    padding: 20px;
    text-align: center;
}

.itemd{
    padding: 20px;
    text-align: center;
}

.image{
    max-height: 300px;
    width: 50%;
    border-radius: 10px;
}

h2{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: cursive;
}

p{
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: serif;
}
